* {
	padding: 0;
	margin: 0;
}
body {
	color: #000000;
	font-family: 'EB Garamond', serif;
}
/* Navigation Bar */
.navbar-brand {
	padding: 20px;
	font-family: 'Vollkorn', sans-serif;
	font-weight: 50px;
	text-transform: uppercase;
}
.nav-bar, li {
	padding: 5px;
}
/* Mission Statement */
#mission-statement {
	text-align: center;
}
.container-fluid {
	padding: 150px;
}
/* Learning Path */
#learning-path {
	text-align: center;
	text-decoration: none;
}
#learning-path, .row {
	padding: 50px;
}
button {
	padding: 15px;
	background-color: #FDD692;
	font-family: proxima-nova, serif; 
	font-weight: 400;
	font-style: normal;
	letter-spacing: .1em; 
	line-height: 1.2em;
	text-transform: uppercase;
	border-radius: 5em;
	text-align: center;
}